/*CSS Document*/
#principal
{
	border: 3px solid #0F3;
	width: 639px;
	float: left;
	height: auto;
}
.celda
{
	float: left;
	width: 100%;
	height: auto;
}
.columna
{
	float: left;
	width: 180px;
	height: 100%;
	clear: none;
}
