BODY
{
	background-image: url(fondo.jpg);
	margin: 0;
	padding: 0;
/*align: center*/
}
.principal
{
	background-color: #E1E6F8;
	text-align: center;
	width: 19em;
	margin: 10px auto 15px auto;
}

